!!!5
html
  head
    title= title
    script(src='/script/global.js',type='text/javascript')
    link(rel='stylesheet',type='text/css',href='/style/global.css')
  body
    #header
      Test header
    !{body}
    #footer
      Test footer
